
<div class="container">
   
<div class="row">
   <form (ngSubmit)="taskSubmit()" #addform="ngForm">
      <div class="form-group">
        <label for="id">Id</label>
        <input type="number" [(ngModel)]="model.Id" 
        name="id" 
        class="form-control" id="id"
         required #id="ngModel">
      </div>
       <div [hidden]="id.valid || id.pristine" 
             class="alert alert-danger">
          Task Id is required
        </div>

      <div class="form-group">
        <label for="name">Task</label>
        <input type="text" [(ngModel)]="model.Title" 
        name="title" 
        class="form-control" id="name"
         required #title="ngModel">
      </div>
       <div [hidden]="title.valid || title.pristine" 
             class="alert alert-danger">
          Task Title is required
        </div>     
      <div class="form-group">
  <label for="power">Status</label>
  <select class="form-control" id="status" 
  [(ngModel)]="model.Status" name="status"
   required>
    <option *ngFor="let s of status" [value]="s">{{s}}</option>
  </select>
</div>
      <button type="submit" class="btn btn-primary form-control" [disabled]="!addform.form.valid" >Add Task</button>
    </form>
</div>
</div>
