<div class="container">
<div class="row">
  <button (click)="onClick()">Add Task</button>
</div>
<div class="row">
  <table class="table">
    <thead>
      <th>Id</th>
      <th>Title</th>
      <th>Status</th>
      <th>Action</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of allTask ">
        <td>{{item.Id}}</td>
        <td>{{item.Title | uppercase}}</td>
        <td>{{item.Status}}</td>
        <td><button (click)="delTask(item)"><span class="glyphicon glyphicon-trash"></span></button>
            
        </td>
      </tr>
    </tbody>
  </table>
  </div>
</div>